<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="utf-8">
  <title>Regitro</title>
  <link rel="stylesheet"  href="css/registro.css">
  <link rel="stylesheet" href="css/index_GENERAL.css"> 
  <%= stylesheet_link_tag "application", media:"all", "data-turbolinks-track"=>true %>
</head>
    <body>
        <br>
        <br>
        <br>
<div class="form-register">
      <h2 class="form__titulo">Registro</h2>
        
        <div class="contenedor-inputs">
        
            <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
              <%= devise_error_messages! %>
              
           
                     <%= f.label :nombre %></br>
                    <%= f.text_field :nombre, :class=>"input-48", :placeholder=>"Nombre", required: 'true' %></br>
                        
         
             
                    <%= f.label :apellidos %> </br>
                     <%= f.text_field :apellidos, :class=>"input-48", :placeholder=>"Apellidos", required: 'true' %></br>
                    <%= f.label :usuario %> </br>
                     <%= f.text_field :usuario, :class=>"input-48", :placeholder=>"usuario", required: 'true' %></br>
                <%= f.label :email %> </br>
                <%= f.email_field :email, autofocus: true, autocomplete: "email",:class=>"input-100" %> </br>
              
            
             
                <%= f.label :password %>
                <% if @minimum_password_length %>
                <em>(<%= @minimum_password_length %> characters minimum)</em>
                <% end %></br>
                <%= f.password_field :password, autocomplete: "off",:class=>"input-48" %></br>
             
            
             
                <%= f.label :password_confirmation %></br>
                <%= f.password_field :password_confirmation, autocomplete: "off", :class=>"input-48"%></br>
              
                    <%= f.label :telefono %></br>
                     <%= f.text_field :telefono, :class=>"input-48", :placeholder=>"Telefono", required: 'true' %></br>
        
                
                 
                    <%= f.label :cedula %></br>
                     <%= f.text_field :cedula, :class=>"input-48", :placeholder=>"Direccion", required: 'true' %></br>
                 
            
                
                
             
                    <%= f.label :direccion %></br>
                     <%= f.text_field :direccion, :class=>"input-48", :placeholder=>"Direccion", required: 'true' %></br>
         
             <hr width="100%">
             <center> 
                <%= f.submit "Registrar" %>
                <% end %>
                 <%= render "devise/shared/links" %>
              <center> 
            
            
           
        </div>    
    </div>
</div>
</body>
</html>
