
<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="utf-8">
	<title> Crear Cuenta</title>
	<link rel="stylesheet"  href="css/registro.css">
	<link rel="stylesheet" href="css/index_GENERAL.css"> 
	
</head>
<body>


<form action="registrar.php" method="post" class="form-register">
<h2 class="form__titulo">Crear Cuenta</h2>

<div class="contenedor-inputs">

     
     <input type="" name="nombre" placeholder="Nombre" class="input-48" required>		
	 <input type="" name="apellidos" placeholder="Apellidos" class="input-48" required>	
	 <input type="text" name="cedula" placeholder="Cedula" class="input-48" required>
	 <input type="text" name="telefono" placeholder="Teléfono" class="input-48" required>	
	 <input type="text" name="usuario" placeholder="Usuario" class="input-48" required>
	 <input type="password" name="password" placeholder="Contraseña" class="input-48" required>
	 <input type="email" name="correo" placeholder="Correo" class="input-100" required>	
	
	  <select class="input-100" >
       
        <option value="1">Juridica</option> 
        <option value="2">Financiera</option> 
        <option value="3">Administrativa</option>                                                
      </select>
      <hr width="100%">

	 <input type="submit" value="Enviar" class="btn-enviar" required>	
    
	     
</div>
</form>


</body>
</html>