<!DOCTYPE HTML>
<html lang="es">
    <head>
       <title>Director</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	 <link rel="stylesheet" href="css/index_GENERAL.css"> 
	 <link rel="stylesheet"  href="css/registro.css">
	 <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
	 <!-- Bootstrap core CSS -->
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

    </head>
    
    <body>
       <div class="contenedor">
          <header>
           <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="#">Director</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Inicio<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="inicio_sesi%C3%B3n.html">Crear usuario</a>
            </li>
            <li class="nav-item">
              <a class="nav-link " href="registro_comprador.html"></a>
            </li>
          </ul>
          
        </div>
      </nav>
         
          </header>
          <div class="contenedor_1">
             <div id="contenido">
      
        <div id="page-wrapper">
            
            <div class="container-fluid"> 
                         
                <div class="text-center color2 jumbotron">
                    <h2 id="titulo" class="admi" > PQRS</h2>
                  
                </div>
              
                
                <div>
                         
                         
                         
                         
            
                         
                         
                         
                         
                         
                         
                         
                         <div class="row">
                           <div class="col-md-12 table-responsive">
                              
                                <table class="table table-sm">
                                  <thead>
                                  
                                    <tr class="bg-info money">
                                      <th>Nombre</th>
                                      <th>Apellido</th>
                                      <th>Cedula</th>
                                      <th>Correo</th>
                                      <th>Telefono</th>
                                      <th>Tipo</th>
                                      <th>Tramite</th>
                                      <th>Archivo</th>
                                      
                                      <th>Opción</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                   
                                 
                                                <tr>
                                                 <td>Futbol</td>
                                                  <td>Masculino</td>
                                                  <td>Colombia-Venezuela</td>
                                                  <td>21/11/2017</td>
                                                  <td>4:00 pm</td>
                                                   <td>Cienaga</td>
                                                  
                                                  <td>
                                                    
                                                      <button type='button' class='btn btn-success btn-md' data-toggle="modal" data-target="#editar" id="<?=$pag->getIdPago()?>">
                                                          <i class='fa fa-pencil-square-o fa-1x' aria-hidden='true'></i>
                                                      </button>
                                                    <a >
                                                      <button type='button' class='btn btn-danger btn-md'>
                                                          <i class='fa fa-trash fa-1x' aria-hidden='true'></i>
                                                      </button>
                                                    </a>
                                                  </td>
                                                </tr>
                                                  <tr>
                                                  <td>Futbol</td>
                                                  <td>Femenino</td>
                                                  <td>Colombia-Peru</td>
                                                  <td>21/11/2017</td>
                                                  <td>4:00 pm</td>
                                                   <td>Santa marta</td>
                                                  
                                                  <td>
                                                    
                                                      <button type='button' class='btn btn-success btn-md' data-toggle="modal" data-target="#editar" id="<?=$pag->getIdPago()?>">
                                                          <i class='fa fa-pencil-square-o fa-1x' aria-hidden='true'></i>
                                                      </button>
                                                    <a >
                                                      <button type='button' class='btn btn-danger btn-md'>
                                                          <i class='fa fa-trash fa-1x' aria-hidden='true'></i>
                                                      </button>
                                                    </a>
                                                  </td>
                                                </tr>
                                                  <tr>
                                                <td>Ciclismo</td>
                                                  <td>BMX</td>
                                                  <td>Grupo</td>
                                                  <td>21/11/2017</td>
                                                  <td>4:00 pm</td>
                                                   <td>Santa marta</td>
                                                  
                                                  <td>
                                                    
                                                      <button type='button' class='btn btn-success btn-md' data-toggle="modal" data-target="#editar" id="<?=$pag->getIdPago()?>">
                                                          <i class='fa fa-pencil-square-o fa-1x' aria-hidden='true'></i>
                                                      </button>
                                                    <a >
                                                      <button type='button' class='btn btn-danger btn-md'>
                                                          <i class='fa fa-trash fa-1x' aria-hidden='true'></i>
                                                      </button>
                                                    </a>
                                                  </td>
                                                </tr>
                                                  <tr>
                                                  <td>Futbol</td>
                                                  <td>Masculino</td>
                                                  <td>Colombia-Venezuela</td>
                                                  <td>21/11/2017</td>
                                                  <td>4:00 pm</td>
                                                   <td>Cienaga</td>
                                                  
                                                  <td>
                                                    
                                                      <button type='button' class='btn btn-success btn-md' data-toggle="modal" data-target="#editar" id="<?=$pag->getIdPago()?>">
                                                          <i class='fa fa-pencil-square-o fa-1x' aria-hidden='true'></i>
                                                      </button>
                                                    <a >
                                                      <button type='button' class='btn btn-danger btn-md'>
                                                          <i class='fa fa-trash fa-1x' aria-hidden='true'></i>
                                                      </button>
                                                    </a>
                                                  </td>
                                                </tr>
                                                  <tr>
                                                  <td>Futbol</td>
                                                  <td>Masculino</td>
                                                  <td>Colombia-Venezuela</td>
                                                  <td>21/11/2017</td>
                                                  <td>4:00 pm</td>
                                                   <td>Cienaga</td>
                                                  
                                                  <td>
                                                    
                                                      <button type='button' class='btn btn-success btn-md' data-toggle="modal" data-target="#editar" id="<?=$pag->getIdPago()?>">
                                                          <i class='fa fa-pencil-square-o fa-1x' aria-hidden='true'></i>
                                                      </button>
                                                    <a >
                                                      <button type='button' class='btn btn-danger btn-md'>
                                                          <i class='fa fa-trash fa-1x' aria-hidden='true'></i>
                                                      </button>
                                                    </a>
                                                  </td>
                                                </tr>
                                    
                                                        <tr>
                                                         <td>Futbol</td>
                                                  <td>Masculino</td>
                                                  <td>Colombia-Venezuela</td>
                                                  <td>21/11/2017</td>
                                                  <td>4:00 pm</td>
                                                   <td>Cienaga</td>
                                                          <td>
                                                              
                                                              <button type='button' class='btn btn-success btn-md' data-toggle="modal" data-target="#editar" id="<?=$pag->getIdPago()?>">
                                                                  <i class='fa fa-pencil-square-o fa-1x' aria-hidden='true'></i>
                                                              </button>
                                                              
                                                            <a href="../../control/accion/act_eliminarPago_P.php?Id=<?php echo $pag->getIdPago() ?>">
                                                              <button type='button' class='btn btn-danger btn-md'>
                                                                  <i class='fa fa-trash fa-1x' aria-hidden='true'></i>
                                                              </button>
                                                            </a>
                                                          </td>
                                                        </tr>
                                
                                  </tbody>
                                </table>
                           </div>
                         </div>  
                         
                           
                </div>
                
                
                
                
                
                
                
                
                
                
                
                
                
            </div>
          

        </div>
    

    </div>
   

         
          
           </div>
       </div>
       
      
    </body>
    
</html>