
<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="utf-8">
	<title>Formulario de registro</title>
	<link rel="stylesheet"  href="css/registro.css">
	<link rel="stylesheet" href="css/index_GENERAL.css"> 
	<%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
</head>
<body>


<form action="registrar.php" method="post" class="form-register">
<h2 class="form__titulo">Tramitar PQRS</h2>

<div class="contenedor-inputs">

     
     <input type="" name="nombre" placeholder="Nombre" class="input-48" required>		
	 <input type="" name="apellidos" placeholder="Apellidos" class="input-48" required>	
	 <input type="email" name="correo" placeholder="Correo" class="input-100" required>	
	 <input type="text" name="cedula" placeholder="Cedula" class="input-48" required>
	 <input type="text" name="telefono" placeholder="Teléfono" class="input-48" required>	
	  <select class="input-48" >
        <option value="1">Peticiones</option>
        <option value="2">Quejas</option> 
        <option value="3">Reclamo</option> 
        <option value="4">Sujerencia</option>                                                
      </select>
      <input type="file" name="adjunto" class="input-48 "/>
     <textarea name="PQRS" id="" cols="70" rows="12" placeholder="Escriba su solicitud"></textarea>
	 	<hr width="100%">
	 <input type="submit" value="Enviar" class="btn-enviar" required>	
     
	     
</div>
</form>


</body>
</html>