
<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="utf-8">
	<title>Formulario de registro</title>
	<link rel="stylesheet"  href="css/registro.css">
	<link rel="stylesheet" href="css/index_GENERAL.css"> 
	<%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
</head>
<body>


<div class="form-register">
<h2 class="form__titulo">Tramitar PQRS</h2>

<div class="contenedor-inputs">
<%= form_with(model: pqr, local: true) do |form| %>
  <% if pqr.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(pqr.errors.count, "error") %> prohibited this pqr from being saved:</h2>

      <ul>
      <% pqr.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
     
    	
     <%= form.text_field :nombre, id: :pqr_nombre, :class=>"input-48", :placeholder=>"Nombre", required: 'true'%>
	
	 <%= form.text_field :apellido, id: :pqr_apellido, :class => "input-48", :placeholder=>"Apellidos" , required: 'true'%>
	 
	  <%= form.email_field :correo, id: :pqr_correo, :class => "input-100", :placeholder=>"Correo", required: 'true'%>
	 
	 <%=form.text_field :cdeula, id: :pqr_cdeula,:class => "input-48", :placeholder=>"Cedula", required: 'true' %>
	
    <%=form.text_field :telefono, id: :pqr_telefono,:class => "input-48", :placeholder=>"Teléfono", required: 'true'%>
	 

    <%= form.select "alert", options_for_select([['Peticiones', 0], ['Quejas', 1],['Reclamos', 2],['Sujerencia', 3]]), :id => "pqr_tipo " , :class => 'input-48' %>
    <%= form.file_field :archivo, id: :pqr_archivo,  :class => "input-48"%>
    
    
    <%= form.text_area :descripcion, id: :pqr_descripcion, :class => "input-100", :cols=>"70", :rows=>"12", :placeholder=>"Escriba su solicitud", required: 'true' %>
	 	<hr width="100%">
	 
	 
	<center> 
	
	<%= link_to "Back", root_path , :class => "btn-enviar", :id => "" %>
	
	<%= form.submit :class => "btn-enviar", :value => "Enviar" %>
	
	
	
	</center>
    
	     <% end %>
</div>
</div>


</body>
</html>
