<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    
	<title>PQR-PDF</title> 
</head>
<body>

<div class="conte"> 
  <center>
      <div class="hoja">

          <p><h4>Santa marta, Magdalena</h4>
             <h6><%= @pqr.tiempo_sol %></h6>
          
          </p>
          
          <div class="datos">
            <h5>
               <p>Empresa ABC</p>
                <p>Director General</p>
                <p>PRESENTE</p>
               </h5>
               
            <p>Estimado Sr. Director</p>
            
            
              
          </div>
          
          <div class="coment">
             
             <p>
                  <%= @pqr.descripcion %>
             </p>
             
             
              
          </div>
          
          <div class="datos_2">
             
             <p><%= @pqr.nombre %> <%= @pqr.apellido %></p>
             <p><%= @pqr.cdeula %></p>
             <p><%= @pqr.telefono %></p>
             <p><%= @pqr.correo %></p>
              
              
          </div>


      </div>
      
</center>

</div>
<center><%= link_to "Back",root_path , :class => "btn-enviar", :id => "" %></center>

<style>
    *{
    font-family: sans-serif;
}

.btn-enviar{

	background: crimson;
	color: #fff;
	margin:auto;
	padding: 10px 40px;
	cursor:pointer;
}

.btn-enviar:active{
	transform: scale(1.05);
}

.conte{
    width: 100%;
    height: auto;
    background: #ddd;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 20px;
}

.hoja{
    width: 50%;
    height: 700px;
    background: #fff;
    padding-top: 90px;
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
    border: solid 1px;
}
.hoja p {
   
}

.datos{
    margin-top: 60px; 
}
.datos p{
    text-align: left;
    font-size: 12px;
    margin: 5px;
}

.coment{
    margin-top: 40px;
    height: auto;
    text-align: left;
    overflow-wrap: break-word;
}

.coment p{
    margin: 0;
    font-size: 11px;
}
.datos_2{
    margin-top: 60px; 
}
.datos_2 p{
    text-align: left;
    font-size: 12px;
    margin: 5px;
}

</style>

</body>

</html>