<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="utf-8">
  <title>Login</title>
  <link rel="stylesheet"  href="css/registro.css">
  <link rel="stylesheet" href="css/index_GENERAL.css"> 
  <%= stylesheet_link_tag "application", media:"all", "data-turbolinks-track"=>true %>
</head>
    <body>
        <br>
        <br>
        <br>
        <form action="" method="post" class="form-register">
        <h2 class="form__titulo">Log in</h2>
        
        <div class="contenedor-inputs">

            <%= form_for(:session, url: login_path) do |f| %>
        
              <%= f.email_field :email, :class=>"input-48", :placeholder=>"Correo", required: 'true' %>
        
              <%= f.password_field :password, :class=>"input-48", :placeholder=>"Contraseña", required: 'true' %>
        
              
            
        
            
 
 <hr width="100%">
    
   <%= link_to "Back", root_path , :class => "btn-enviar", :id => "" %>
   <%= f.submit "Log in", class: "btn-enviar" %></br>
   <%= render "devise/shared/links" %>
   <% end %>
   
   

      
       
</div>
</form>


</body>
</html>


