body{
    background: gray;
}
.nivo-html-caption a {
    text-decoration: none;
    padding: 10px 10px 10px 10px;
    background: #0f0f;
    color: aliceblue;
    
}
.menu_1{
   margin-top: -90px;
   position: fixed;
    
}

.contenedor_1{
  
    
margin-left: 30px;
margin-right: 30px;
width: auto;
 

}
.contenedor_1 nav{
    width: 120px;
    padding-left: 10px;
    background: #fff;
    float: left;
    border-radius: 10px;
    
}
.contenedor_1 nav li{
    border-bottom:solid;
    border-radius: 10px;
    padding-bottom: 10PX;
    padding-left: 5PX;
    padding-top: 5px;
}
.contenedor_1 nav ul li a:hover{
     color:cadetblue;
    text-decoration:none;
}
.contenedor_1 nav ul li a{
     color:cadetblue;

 
}
.contenedor_1 nav .li:hover{
    background:#212529;
   
    
}
article{
    margin-left: 130px;
    margin-right: 350px;
    background: #fff;
    border-radius: 10px;
    padding: 20px;
   
    
}
.panel-title{
    border-bottom-color: #0f0f;
    border-bottom: solid;
}
.full{
     max-width: 100%;
    height: auto;
    margin-top: 20px;
    margin-bottom: 10px;
    
}
blockquote p {
    border-left: solid;
    padding-left: 10px;
}
aside{
    background: #fff;
    border-radius: 10px;
    width: 330px;
    float: right;
    height: 1180px;
    margin-top: -91.5%;
    padding: 10px;
}
aside h3{
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: solid;
}